<h3 class="title">Your Expenses</h3>

{{#if expenses.length}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount ($)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each expenses}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.category}}</td>
          <td>{{this.description}}</td>
          <td>{{this.amount}}</td>
          <td>
            <a href="/edit/{{this._id}}" class="btn-warning">Edit</a>
            <a href="/delete/{{this._id}}" class="btn-danger">Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No expenses found. <a href="/add">Add one now</a>.</p>
{{/if}}
